.kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__heading, .kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link {
    background-color: #f7f7f7;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__heading .kt-menu__link-text, .kt-aside-menu .kt-menu__nav > .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link .kt-menu__link-text {
    color: #3e82f4;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__heading .kt-menu__link-icon, .kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-icon {
    color: #888888;
}

.form-control[readonly] {
    background-color: #efefef !important;
}


.has-error .select2-container--default .select2-selection--single {
    border-color: #a94442 !important;
}

.align-select2 {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
span.select2-container{
    width: 100% !important;
}
.text-danger {
    color: #fd2762 !important;
}

.zn-head-line-danger {
    border-left: 3px solid #fd3162;
    padding-left: 10px;
}

.kt-badge.kt-badge--unified-success {
    color: #1dc9b7;
    background: #E8F9F8;
}
.kt-badge.kt-badge--unified-danger {
    color: #fd3162;
    background: #FFE9FD;
}
.kt-badge.kt-badge--unified-info {
    color: #2786fb;
    background: #E9F3FF;
}

.has-error .form-control-feedback {
    color: #a94442 !important;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
    color: #a94442 !important;
    display: block;
}

/* .has-error .help-block {
    display: block !important;
} */

.has-error .form-control {
    border-color: #a94442 !important;
}

.has-error .select2-container--default .select2-selection--single {
    border-color: #a94442 !important;
}

#loading {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #00000078;
    z-index: 999;
    display: none;
}

.lds-facebook {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0px auto;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 6px;
        height: 51px;
    }

    50%,
    100% {
        top: 19px;
        height: 26px;
    }
}
