
<div class="section">
	<!-- PAGE-HEADER -->
	<div class="page-header">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="<?php echo $this->url->get('home')?>"><i class="fe fe-home mr-1"></i> Dashboard</a></li>
			<li class="breadcrumb-item active" aria-current="page">Transaksi Baruzzz</li>
		</ol>
	</div>
	<!-- PAGE-HEADER END -->

	<div class="row">
		<div class="col-md-12 col-lg-12">
			<div class="card">
				<div class="card-header">
					<div class="card-title">Form Transaksi</div>
				</div>
				
				<div class="card-body">
					<form id="form-new" enctype="multipart/form-data">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="form-label">Tanggal Transaksi</label>
								<input type="text" class="form-control tgl" id="tgl_tr" name="tgl_tr">
							</div>
						</div>
					</div>	
					<div class="table-responsive">
						<table id="myTable" class=" table order-list">
						    <thead>
						        <tr>
						            <td>Akun</td>
						            <td>Keterangan Transaksi</td>
						            <td>Debet</td>
						            <td>Kredit</td>
						        </tr>
						    </thead>
						    <tbody>
						        <tr>
						            <td class="col-sm-4">
						            	<select class="form-control select2-show-search" name="coa_no[]" id="coba" tabindex="-1" aria-hidden="true">
						               	</select>
						               	<div class="invalid-feedback">Pilih No Akun</div>
						            </td>
						            <td class="col-sm-4">
						                <input type="text" name="keterangan[]"  class="form-control" id="keterangan" />
						                <div class="invalid-feedback">Keterangan Tidak Boleh Kosong </div>
						            </td>
						            <td class="col-sm-2">
						                <input type="text" style="text-align: right;" value="0" onkeyup="convertToRupiah(this)" name="debet[]" id="debet" class="form-control txt"/>
						                <div class="invalid-feedback">Nominal Debet Tidak Boleh Kosong atau 0</div>
						            </td>
						            <td class="col-sm-2">
						                <input type="text" style="text-align: right;" name="kredit[]" value="0" id="kredit" onkeyup="convertToRupiah(this)" class="form-control txt1"/>
						                <div class="invalid-feedback">Nominal Kredit Tidak Boleh Kosong atau 0</div>
						            </td>
						            <td class="col-sm-2"><a class="deleteRow"></a>

						            </td>
						        </tr>
						    </tbody>
						    <tfoot>
						        <tr style="background-color: rgb(192,192,192)">
						            <td colspan="2" style="text-align: right;">
						                Total
						            </td>
						            <td class="col-sm-2" style="text-align: right;">
						                <div id="dbt"></div>
						            </td>
						            <td class="col-sm-2" style="text-align: right;">
						                <div id="crt"></div>
						            </td>
						        </tr>
						        <tr>
						            <td style="text-align: left;">
						                <input type="button" class="btn btn-primary" id="addrow" value="Tambah Record" />
						            </td>
						        </tr>
						        <tr>
						        </tr>
						    </tfoot>
						</table>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="form-label">Catatan</label>
								<textarea class="form-control" name="catatan" id="catatan"></textarea>
								<div class="invalid-feedback">Catatan Tidak Boleh Kosong</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="form-label">Pilih Segment</label>
								<select class="form-control select2-show-search" name="idsegment" id="idsegment">
									<option value="">Silahkan Pilih</option>
									<?php
										foreach ($data as $item) {
											echo '<option value='.$item->id.'>'.$item->definition.'</option>';
										}
									?>
								</select>
								<div class="invalid-feedback">Silahkan Pilih Segment</div>
							</div>
						</div>
					</div>
					<table id="myTable1" class="table dokumen-list">
						    <thead>
						        <tr>
						            <td>Jenis dokumen</td>
						            <td>Preview dokumen</td>
						        </tr>
						    </thead>
						    <tbody>
						        <tr>
						            <td class="col-sm-4">
						               <select class="form-control select2-show-search" name="jns_dok[]" id="jns_dok" tabindex="-1" aria-hidden="true">
						               	<option value="">Silahkan Pilih</option>
										<?php
											foreach ($data1 as $item) {
												echo '<option value='.$item->id.'>'.$item->definition.'</option>';
											}
										?>
						               </select>
						               <div class="invalid-feedback">Pilih Jenis Dokumen</div>
						            </td>
						            <td class="col-sm-4">
						                <input type="file" name="file[]" id="file" class="form-control"/>
						                <div class="invalid-feedback">Silahkan Upload Dokumen</div>
						            </td>
						            <td class="col-sm-2"><a class="deleteRow"></a>

						            </td>
						        </tr>
						    </tbody>
						    <tfoot>
						        <tr>
						            <td style="text-align: left;">
						                <input type="button" class="btn btn-primary" id="addrow1" value="Tambah Dokumen" />
						            </td>
						        </tr>
						        <tr>
						        </tr>
						    </tfoot>
						</table>
					</form>	
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<button class="btn btn-success pull-right" onclick="return simpan()">Simpan</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<!--
<script src="js/jquery.min.js"></script>
<script src="js/materialize.min.js"></script>
<link rel="stylesheet" href="css/materialize.min.css" />
<script src="js/autocomplete.js"></script>

-->

<script type="text/javascript">
	var _create_form = $("#form-new");
	function simpan(){
		 $("#global-loader").show();

		var cek_dbt = $("#dbt").html();
		var cek_dbt1=cek_dbt.replace(/\./g,'');
		var cek_crt = $("#crt").html();
		var cek_crt1=cek_crt.replace(/\./g,'');

		if(cek_dbt1==cek_crt1){


			
			if($('#catatan').val()===''){
	 			$("#global-loader").hide();
	 			$( "#catatan" ).addClass( "is-invalid state-invalid" );
	 			return false;
		 	}else{
		 		$("#catatan").removeClass( "is-invalid state-invalid" );
		 		
		 	}
		 	if($('#idsegment').val()===''){
		 		$("#global-loader").hide();
	 			$( "#idsegment" ).addClass( "is-invalid state-invalid" );
	 			return false;
		 	}else{
		 		$("#idsegment").removeClass( "is-invalid state-invalid" );
		 		
		 	}
			
		 	if(cek_dbt1==0 && cek_crt1==0){
				$("#global-loader").hide();
				swal("Info","Tidak Boleh Kosong / 0","error");
				return false;
			}else{

				var _form_data = new FormData(_create_form[0]);
				$.ajax({
	                type: 'POST',
	                url: '<?php echo $this->url->get('newTransaksi/insert')?>',
	                data: _form_data,
	                processData: false,
	                contentType: false,
	       			dataType: 'json',
	                success: function (res) {
	                    //var parse = $.parseJSON(res);
	                    if(res.rc==1){
	                    	$("#global-loader").hide();
	                		_create_form[0].reset();
	                		swal({   
			                        title: "Info",   
			                        text: 'Transaksi Berhasil Disimpan',   
			                        type: "info",   
			                        showCancelButton: false,      
			                        confirmButtonText: "Ok",     
			                        closeOnConfirm: false
			                    }, function(isConfirm){   
			                        if (isConfirm) {     
			                            //window.location.href = base_url +'/billing/table/' + id;  
			                            location.reload();
			                        } 
			                    });
			                    return false;
	                		//swal("Info","Transaksi Berhasil Disimpan","info")
	                    }
	                	
	                }
	            });

			}
			  
			

		}else{

			swal("Info","Total Debet dan Kredit tidak seimbang","error");
			
		}




	}



	var _items='';
	$.ajax({
        type: 'GET',
        url: '/akuntansi/home/coa',
        success: function (res) {
            var data = $.parseJSON(res);
            _items='<option value="">Silahkan pilih</option>';
            $.each(data, function (k,v) {
                _items += "<option value='"+v.coa_no+"'>"+v.coa_no+" - "+v.coa_name+"</option>";
            });

            $('#coba').html(_items);
        }
    });
    $("#dbt").html(0);
    //.toFixed() method will roundoff the final sum to 2 decimal places
    $("#crt").html(0);
    $('#coba').on('change', function (v) {

	    document.getElementById("kredit").value=0;
		document.getElementById("debet").value=0;
	    $.ajax({
		        type: 'GET',
		        url: '/akuntansi/home/dbcr?id='+this.value,
		        success: function (res) {
		        var data = $.parseJSON(res);
		        if(data[0]['balance_type_id']==0){
		        	$("#debet").css("background-color", "#00FFFF");
		        	$("#kredit").css("background-color", "");
		        	document.getElementById("kredit").readOnly = true;
		        	document.getElementById("debet").readOnly = false; 

		        }else{
		        	$("#debet").css("background-color", "");
		        	$("#kredit").css("background-color", "#00FFFF");
					document.getElementById("kredit").readOnly = false;
		        	document.getElementById("debet").readOnly = true; 

		        }
		     }
		});	
	    calculateSum();
	});

	 $(document).ready(function () {
    	var counter = 1;
    	var def = 'new';
    	var counter1 = 1;
    	var query1=[];

		$("#addrow1").on("click", function () {
	        var newRow = $("<tr>");
	        var cols = "";

	        cols += '<td><select class="form-control" id="jns_dok'+ counter1 +'" name="jns_dok[]">'+
						               	'<option>a</option>'+
						               	'<option>b</option>'+
						               '</select></td>';
	        cols += '<td><input type="file" class="form-control" name="file[]" id="file' + counter1 + '"/></td>';
	        cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger "  value="-"></td>';
	        newRow.append(cols);
	        $("table.dokumen-list").append(newRow);
	        counter1++;
	    });

	    $("table.dokumen-list").on("click", ".ibtnDel", function (event) {
	        $(this).closest("tr").remove();       
	        counter1 -= 1
	        calculateSum();
	    }); 






    $("#addrow").on("click", function () {
    	console.log(def);
   		if(def=='new'){
				var coba="#coba" + counter;
				var ket="#keterangan" + counter;
				var debet="#debet" + counter;
				var kredit="#kredit" + counter;
				var bdebet="debet" + counter;
				var ckredit="kredit" + counter;
		
			}else{
				var aa =counter -1;
				var coba="#coba" + aa;
				var ket="#keterangan" + aa;
				var debet="#debet" + aa;
				var kredit="#kredit" + aa;
				var bdebet="debet" + aa;
				var ckredit="kredit" + aa;

					
			}

		if($('#coba').val()===''){
	 		$( "#coba" ).addClass( "is-invalid state-invalid" );
	 		return false;
	 	}else{
	 		$( "#coba" ).removeClass( "is-invalid state-invalid" );
	 		
	 	} 
		if($('#keterangan').val()===''){
	 		$( "#keterangan" ).addClass( "is-invalid state-invalid" );
	 		return false;

	 	}else{
	 		$( "#keterangan" ).removeClass( "is-invalid state-invalid" );
	 		
	 	}

	 	if($('#kredit').is('[readonly]')){
	 		
	 	}else{
	 		var a1=$('#kredit').val();
       		var a=a1.replace(/\./g,'');
	 		if(a=='' || a==0){
	 			$( "#debet" ).removeClass( "is-invalid state-invalid" );
	 			$( "#kredit" ).addClass( "is-invalid state-invalid" );
	 			return false;
	 		}else{

	 			$( "#kredit" ).removeClass("is-invalid state-invalid");
	 		}
	 	}
	 		
	 	if($('#debet').is('[readonly]')){
	 		
	 		
	 	}else{
	 		var b1=$('#debet').val();
       		var b=b1.replace(/\./g,'');

	 		if(b=='' || b==0){
	 			$( "#kredit" ).removeClass( "is-invalid state-invalid" );
	 			$( "#debet" ).addClass( "is-invalid state-invalid" );
	 			return false;

	 		}else{
	 			$( "#debet" ).removeClass( "is-invalid state-invalid" );
	 		}
	 	}
		



		if($(coba).val()===''){
	 		$(coba).addClass( "is-invalid state-invalid" );
	 		return false;
	 	}else{
	 		$(coba).removeClass( "is-invalid state-invalid" );
	 		
	 	} 
		if($(ket).val()===''){
	 		$(ket).addClass( "is-invalid state-invalid" );
	 		return false;

	 	}else{
	 		$(ket).removeClass( "is-invalid state-invalid" );
	 		
	 	}

	 	if($(kredit).is('[readonly]')){
	 		
	 	}else{
	 		var a1=$(kredit).val();
       		//var a=a1.replace(/\./g,'');
	 		if(a1=='' || a1==0){
	 			$(debet).removeClass( "is-invalid state-invalid" );
	 			$(kredit).addClass( "is-invalid state-invalid" );
	 			return false;
	 		}else{
	 			$(kredit).removeClass("is-invalid state-invalid");
	 			
	 		}
	 	}
	 		
	 	if($(debet).is('[readonly]')){
	 		
	 		
	 	}else{
	 		var b1=$(debet).val();
       		//var b=b1.replace(/\./g,'');

	 		if(b1=='' || b1==0){
				$(kredit).removeClass( "is-invalid state-invalid" );
	 			$(debet).addClass( "is-invalid state-invalid" );
	 			return false;

	 		}else{
	 			$(debet).removeClass( "is-invalid state-invalid" );
	 			
	 		}
	 	}




	 		 			

	 	var newRow = $("<tr>");
        var cols = "";

        cols += '<td><select class="form-control" name="coa_no[]" id="coba'+ counter +'" tabindex="-1" aria-hidden="true"></select><div class="invalid-feedback">Pilih No Akun</div></td>';
        cols += '<td><input type="text" class="form-control" name="keterangan[]" id="keterangan' + counter + '"/><div class="invalid-feedback">Keterangan Tidak Boleh Kosong </div></td>';
        cols += '<td><input type="text" class="form-control txt" style="text-align: right;" value="0" onkeyup="convertToRupiah(this)" id="debet'+ counter +'" name="debet[]"/><div class="invalid-feedback">Nominal Debet Tidak Boleh Kosong atau 0</div></td>';
        cols += '<td><input type="text" class="form-control txt1" style="text-align: right;" value="0" onkeyup="convertToRupiah(this)" id="kredit'+ counter +'" name="kredit[]"/><div class="invalid-feedback">Nominal Kredit Tidak Boleh Kosong atau 0</div></td>';
        cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger" style="width:50px;"  value="-"></td>';
        newRow.append(cols);
		$("table.order-list").append(newRow);
		var coba="#coba" + counter;
		var ket="#keterangan" + counter;
		var debet="#debet" + counter;
		var kredit="#kredit" + counter;
		var bdebet="debet" + counter;
		var ckredit="kredit" + counter;
		var _items='';
	 	$.ajax({
	 		type: 'GET',
	 		url: '/akuntansi/home/coa',
	 		success: function (res) {
	 			var data = $.parseJSON(res);
	 			_items='<option value="">Silahkan pilih</option>';
	 			$.each(data, function (k,v) {
	 				_items += "<option value='"+v.coa_no+"'>"+v.coa_no+" - "+v.coa_name+"</option>";
	 			});
	 			console.log(coba);
	 			$(coba).html(_items);
	 		}
	 	});
      

	    $(coba).on('change', function (v) {
	    	
	    	document.getElementById(ckredit).value=0;
		    document.getElementById(bdebet).value=0;
		    $.ajax({
			        type: 'GET',
			        url: '/akuntansi/home/dbcr?id='+this.value,
			        success: function (res) {
			        var data = $.parseJSON(res);
			        if(data[0]['balance_type_id']==0){
			        	$(debet).css("background-color", "#00FFFF");
		        		$(kredit).css("background-color", "");
					
			        	document.getElementById(ckredit).readOnly = true;
			        	document.getElementById(bdebet).readOnly = false; 

			        }else{
			        	$(debet).css("background-color", "");
		        		$(kredit).css("background-color", "#00FFFF");
					
						document.getElementById(ckredit).readOnly = false;
			        	document.getElementById(bdebet).readOnly = true; 

			        }
			     }
			});	
		    calculateSum();
		});
		def='old';
	    counter++;
    });

    $("table.order-list").on("click", ".ibtnDel", function (event) {
        $(this).closest("tr").remove();       
        counter -= 1
        calculateSum();
    });


});




function calculateRow(row) {
    var price = +row.find('input[name^="price"]').val();

}
function calculateSum() {
    var sum = 0;
    var sum1 = 0;
    //iterate through each textboxes and add the values
    $(".txt").each(function () {
    	var a1=this.value;
        var a=a1.replace(/\./g,'');

        //add only if the value is number
        if (!isNaN(a) && a.length != 0) {
            sum += parseFloat(a);
        }

    });
    $(".txt1").each(function () {
    	var a1=this.value;
        var a=a1.replace(/\./g,'');

        //add only if the value is number
        if (!isNaN(a) && a.length != 0) {
            sum1 += parseFloat(a);
        }

    });
    $("#dbt").html(sum.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1."));
    //.toFixed() method will roundoff the final sum to 2 decimal places
    $("#crt").html(sum1.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1."));
}

function calculateGrandTotal() {
    var grandTotal = 0;
    $("table.order-list").find('input[name^="price"]').each(function () {
        grandTotal += +$(this).val();
    });
    $("#grandtotal").text(grandTotal.toFixed(2));
}
$("table").on("keyup", ".txt", function () {
    calculateSum();
});
$("table").on("keyup", ".txt1", function () {
    calculateSum();
});
</script>
